<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>moataz nbili </h2>
            <h4>adminadmin@mail.com</h4>
        </div>
        <img src="https://scontent.ftun9-1.fna.fbcdn.net/v/t1.6435-9/57345618_1270337199790369_2237553913970556928_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=174925&_nc_ohc=yMu1a0MfgFkAX8UnC65&_nc_ht=scontent.ftun9-1.fna&oh=00_AT9sT7TSNsTv9fIPEm83HjUpwr92r35Zz9SBHspLG51bWA&oe=62BA0849"
            alt="">

    </div>

    <h2 matSubheader> pages </h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/contacts'>
        <mat-icon>contacts</mat-icon>
        contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/contacts/addcontact'>
        <mat-icon>add</mat-icon>
        add contact
    </a>

</mat-nav-list>