<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>saadli wissem </h2>
            <h4>saadliwissem88@mail.com</h4>
        </div>
        <img src="https://scontent.ftun1-2.fna.fbcdn.net/v/t39.30808-6/241797130_3113489245607209_1381627499070074559_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=cxAfprSpy-wAX9-0ruY&_nc_ht=scontent.ftun1-2.fna&oh=00_AT9Q_SMhJNcrqkaMgSoMvVWpuKln36YzGJ1d5WmphfTMLw&oe=62B4F06B"
            alt="">

    </div>

    <h2 matSubheader> pages </h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/contacts'>
        <mat-icon>contacts</mat-icon>
        contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/contacts/addcontact'>
        <mat-icon>add</mat-icon>
        add contact
    </a>

</mat-nav-list>